<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
      <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>
      <script src="angularscript.js"></script>
      <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="styles.css">
  </head>
  <body>

<script type="text/ng-template" id="customTemplate.html">
  <a>
      <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
  </a>
</script>

<div class='container-fluid' ng-controller="TypeaheadCtrl">
<div id="CPU">
    <h4>Processor</h4>
    <pre>Selected Processor:</pre>
    <input type="text" ng-model="selected.cpu" placeholder="Kies je Processor" typeahead="cpu as cpu.Product + cpu.Uitvoering for cpu in componentsCPU | filter:$viewValue | limitTo:10" class="form-control">
</div>
    <div id="GPU">
    <h4>Graphics Card</h4>
    <pre>Selected Graphics Card:</pre>
    <input type="text" ng-model="selected.gpu" placeholder="Kies je Graphics Card" typeahead="gpu as gpu.Product + gpu.Uitvoering for gpu in componentsGPU | filter:$viewValue | limitTo:10" class="form-control">
</div>
    <div id="MEMORY">
    <h4>Memory</h4>
    <pre>Selected Memory{</pre>
    <input type="text" ng-model="selected.memory" placeholder="Kies je Memory" typeahead="memory as memory.Uitvoering + ' ' + memory.Modulegrootte for memory in componentsMemory | filter:$viewValue | limitTo:10" class="form-control">
    </div>
    <input type="submit" ng-click="update(selected)" value="Save">
    <pre>computer = {{computer | json}}</pre>

</div>
  </body>
</html>

